:root {
  --white: white;
  --black: black;
}

h1 {
  margin-top: .5vw;
  margin-bottom: 0;
  font-family: lores-12-bold-alt-oakland, sans-serif;
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 2.5vw;
}

h2 {
  margin-top: .5vw;
  margin-bottom: 0;
  font-family: lores-12-bold-alt-oakland, sans-serif;
  font-size: 3vw;
  font-weight: 400;
  line-height: 3vw;
}

h3 {
  margin-top: 1vw;
  margin-bottom: 0;
  font-family: lores-9-wide, sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1.3vw;
}

p {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: lores-12, sans-serif;
  font-size: 1.2vw;
  line-height: 1.5vw;
}

a {
  text-decoration: underline;
}

strong {
  font-family: lores-12-bold-alt-oakland, sans-serif;
  font-weight: 400;
}

.header {
  background-image: url('../images/background.png');
  background-position: 0 0;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 50vw;
  padding-left: 5vw;
  display: flex;
}

.headerbox {
  background-image: url('../images/background_1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 26.8vw;
  padding-top: 2vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.dark-green {
  color: #73a36c;
}

.button_open_app {
  color: #f6ffed;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/button-open-app.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10vw;
  height: 3.3vw;
  padding: .7vw 1vw 1vw;
  font-family: lores-9-wide, sans-serif;
  font-size: 1.2vw;
  line-height: 1vw;
}

.button_open_app:hover {
  opacity: .9;
}

.button_learn_more {
  color: #f6ffed;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/button-learn-more.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 auto;
  width: 8vw;
  height: 2.5vw;
  padding: .7vw 1vw 1vw;
  font-family: lores-12, sans-serif;
  font-size: 1vw;
  line-height: 1vw;
}

.header_button_container {
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1.5vw;
  padding-right: 1vw;
  display: flex;
}

.navy {
  color: #393d53;
}

.first_section {
  background-color: #1b252d;
  overflow: hidden;
}

.second_section {
  background-color: #4b9cf8;
}

.first_divider {
  background-image: url('../images/divider-first.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 16.4vw;
  margin-bottom: -5vw;
}

.textbox {
  align-self: center;
  width: 35vw;
  margin-left: 10vw;
  padding-top: 2vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.textbox.footer_menu {
  align-self: flex-start;
  width: 15vw;
  margin-left: 0;
}

.textbox.footer_menu.socials {
  width: 18vw;
}

.textbox.footer {
  align-self: flex-start;
  width: 30vw;
  padding-top: 2vw;
  padding-right: 0;
}

.white {
  color: #fff;
  line-height: 3.2vw;
}

.blue_white {
  color: #ddfdff;
}

.blue_white.opacity_50 {
  opacity: .5;
}

.projects_block {
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.second_divider {
  z-index: 0;
  background-image: url('../images/divider-second.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 37.18vw;
  margin-top: 0;
  margin-bottom: -10vw;
  position: relative;
}

.section_paragraph {
  width: 22vw;
  font-size: 1.4vw;
  line-height: 1.7vw;
}

.section_paragraph.blue_white.right_align {
  text-align: right;
  width: 25vw;
}

.section_paragraph.red_white {
  color: #fdd;
}

.section_paragraph.red_white.right_align {
  text-align: right;
  width: 25vw;
}

.section_content_container {
  justify-content: space-between;
  align-items: stretch;
  width: 100vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.section_content_container.footer {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 9vw;
}

.section_content_container.third {
  height: 47.5vw;
}

.section_content_container.badges {
  height: 38vw;
}

.second_illustration {
  pointer-events: none;
  width: 50vw;
}

.third_section {
  background-color: #e7eff4;
}

.first_illustration {
  pointer-events: none;
  width: 50vw;
}

.blue {
  color: #4b9cf8;
}

.project_name {
  margin-bottom: 0;
  margin-right: 0;
  font-family: lores-9-wide, sans-serif;
}

.project_name.brown {
  color: #c56e26;
  margin-right: 2vw;
}

.project_name.cyan {
  color: #9efff8;
  margin-right: 2vw;
}

.project_name.pink {
  color: #ffb2d4;
  margin-right: 2vw;
}

.project_name.blue, .project_name.dark-green {
  margin-right: 2vw;
}

.project_name.green {
  color: #5edb59;
  margin-right: 2vw;
}

.project_name.red {
  color: #cc4141;
  margin-right: 2vw;
}

.project_name.violet {
  color: #c260f3;
  margin-right: 6vw;
}

.new_h3 {
  font-size: 1.5vw;
  line-height: 1.5vw;
}

.new_h3.green {
  color: #69aa00;
}

.tier_block {
  grid-column-gap: .2vw;
  grid-row-gap: .2vw;
  display: flex;
}

.green {
  color: #69aa00;
}

.third_illustration_ape {
  z-index: 3;
  pointer-events: none;
  width: 50vw;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.third_divider {
  z-index: 2;
  background-image: url('../images/divider-fourth-export.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100.5vw;
  height: 23.59vw;
  margin-top: 0;
  margin-bottom: -10vw;
  margin-left: -.5vw;
  position: relative;
}

.fourth_section {
  background-color: #042238;
}

.fourth_illustration {
  z-index: 1;
  pointer-events: none;
  width: 50vw;
  padding-right: 10vw;
  position: relative;
}

.fourth_divider {
  z-index: 2;
  background-image: url('../images/divider-fourthth.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100.5vw;
  height: 23.59vw;
  margin-top: 0;
  margin-bottom: -10vw;
  margin-left: -.5vw;
  position: relative;
}

.third_divider-copy {
  z-index: 0;
  background-image: url('../images/divider-fourth.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100.5vw;
  height: 23.59vw;
  margin-top: 0;
  margin-bottom: -10vw;
  margin-left: -.5vw;
  position: relative;
}

.fifth_section {
  background-color: #351613;
}

.fifth_divider {
  z-index: 2;
  background-image: url('../images/divider-fourthth.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100.5vw;
  height: 15.58vw;
  margin-top: 0;
  margin-bottom: -4vw;
  margin-left: -.5vw;
  position: relative;
}

.sixth_divider {
  z-index: 2;
  background-image: url('../images/divider-fifth.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100.5vw;
  height: 37.32vw;
  margin-top: 0;
  margin-bottom: -11vw;
  margin-left: -.5vw;
  position: relative;
}

.footer {
  background-color: #4b9cf8;
}

.footer_image {
  background-image: url('../images/footer.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 28.04vw;
}

.copyright {
  opacity: .5;
  font-family: lores-9-wide, sans-serif;
  font-size: .8vw;
  line-height: 1vw;
}

.footer_link {
  color: #fbf9ee;
  font-family: lores-9-wide, sans-serif;
  font-size: 1vw;
  line-height: 3vw;
  text-decoration: none;
  display: block;
}

.footer_link.none {
  opacity: .5;
  pointer-events: none;
}

.button_twitter {
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/button_twitter.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5vw;
  height: 4.7vw;
}

.button_twitter.fixed {
  width: 3vw;
  height: 2.8vw;
}

.button_discord {
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/button_discord.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5vw;
  height: 4.8vw;
}

.button_discord.fixed {
  width: 3vw;
  height: 2.9vw;
}

.footer_socials_container {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1vw;
  display: flex;
}

.fixed_socials_container {
  z-index: 99;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1vw;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 3vw;
  left: auto;
  right: 2vw;
}

.fixed_button_open_app {
  z-index: 99;
  color: #f6ffed;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/button-open-app.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10vw;
  height: 3.3vw;
  padding: .7vw 1vw 1vw;
  font-family: lores-9-wide, sans-serif;
  font-size: 1.2vw;
  line-height: 1vw;
  position: fixed;
  top: 3vw;
  bottom: auto;
  left: auto;
  right: 2vw;
}

.fixed_button_open_app:hover {
  opacity: .9;
}

.fifth_illustration_1 {
  z-index: 3;
  pointer-events: none;
  width: 50vw;
  padding-right: 8vw;
  position: absolute;
  top: 3vw;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.animated_bits {
  pointer-events: none;
  width: 100vw;
  height: 50vw;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bird_large {
  width: 35vw;
  position: absolute;
  top: auto;
  bottom: 8.5vw;
  left: auto;
  right: 5vw;
}

.bird_small {
  width: 9vw;
  position: absolute;
  top: auto;
  bottom: 10vw;
  left: auto;
  right: 44.3vw;
}

.island_large {
  width: 11vw;
  position: absolute;
  top: auto;
  bottom: 18vw;
  left: auto;
  right: 55.1vw;
}

.island_medium {
  width: 8vw;
  position: absolute;
  top: auto;
  bottom: 26vw;
  left: auto;
  right: 15vw;
}

.island_small {
  width: 4vw;
  position: absolute;
  top: auto;
  bottom: 34vw;
  left: auto;
  right: 36vw;
}

.first_illustration_island_1, .first_illustration_island_2, .first_illustration_island_3 {
  pointer-events: none;
  width: 22.5vw;
  position: absolute;
  top: 6vw;
  bottom: 0%;
  left: auto;
  right: 12.5vw;
}

.link_bit {
  color: #ddfdff;
  text-decoration: underline;
}

.third_illustration_punk, .third_illustration_mooncat {
  z-index: 3;
  pointer-events: none;
  width: 50vw;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.fifth_illustration_2, .fifth_illustration_3, .fifth_illustration_4, .fifth_illustration_5, .fifth_illustration_6, .fifth_illustration_7, .fifth_illustration_8, .fifth_illustration_9, .fifth_illustration_10, .fifth_illustration_11, .fifth_illustration_12, .fifth_illustration_13 {
  z-index: 3;
  pointer-events: none;
  width: 50vw;
  padding-right: 8vw;
  position: absolute;
  top: 3vw;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.opening_cover {
  z-index: 9999;
  background-color: #1d252c;
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
}

.body {
  background-color: #1d252c;
}

.clouds {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  position: fixed;
}

.top-clouds {
  width: 100vw;
  display: flex;
  position: fixed;
}

.image-8 {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.mid-clouds {
  width: 200vw;
  display: flex;
  position: fixed;
}

.mid-clouds-image {
  z-index: 2;
  width: 80vw;
  margin-top: 6vh;
  position: absolute;
}

.mid-clouds-image-2 {
  z-index: 2;
  width: 80vw;
  margin-top: 6vh;
  margin-left: 79.9vw;
  position: absolute;
}

.bottom-clouds {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 120vw;
  height: 100vh;
  display: flex;
  position: fixed;
}

.bottom-clouds-image {
  z-index: 3;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.bottom-clouds-image-2 {
  z-index: 3;
  width: 100vw;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 99.9vw;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.gradient {
  mix-blend-mode: multiply;
  background-image: linear-gradient(#bdf2f5, #d3f8e9);
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.logo-top {
  z-index: 1;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.image-3 {
  height: 15vh;
  margin-top: 3vh;
}

.discord-link {
  margin-top: 8vh;
  margin-right: -40vh;
  position: absolute;
}

.discord-logo {
  width: 6vh;
}

.twitter-link {
  margin-top: 8vh;
  margin-left: -40vh;
  position: absolute;
}

.back-link {
  opacity: 0;
  margin-top: 8.2vh;
  margin-right: -88vh;
  position: absolute;
}

.back-top-button {
  width: 34vh;
  position: static;
}

.image-5 {
  width: 20vh;
}

.top-left {
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.image-7 {
  width: 18vh;
}

.bottom-right {
  text-align: right;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.bottom-left {
  width: 18vh;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.top-right {
  text-align: right;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.image-6 {
  width: 15vh;
}

.image-4 {
  width: 20vh;
}

.intro {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.banyan-and-bracket {
  background-image: url('../images/tree-and-space.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  align-self: center;
  width: 95vh;
  height: 66vh;
  margin-top: 10vh;
  margin-bottom: 2vh;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.intro-text {
  width: 32vh;
  margin-top: 8vh;
  margin-right: 2vh;
  font-family: lores-12, sans-serif;
  font-size: 2vh;
  line-height: 2.5vh;
  position: absolute;
}

.another-stupid-m {
  letter-spacing: 0;
}

.intro-button {
  background-image: url('../images/button.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40vh;
  height: 8vh;
  margin-top: 2vh;
  margin-right: 2vh;
  position: relative;
}

.intro-button-text {
  color: #fff;
  text-align: center;
  width: 32vh;
  margin-top: 78vh;
  margin-right: 2vh;
  font-family: lores-9-wide, sans-serif;
  font-size: 3.8vh;
  font-weight: 400;
  line-height: 4vh;
  text-decoration: none;
  position: absolute;
}

.stupid-m {
  letter-spacing: -.5vh;
}

.app {
  overflow: hidden;
}

.landing_page {
  z-index: 2;
  display: block;
  position: relative;
}

.kerning_one {
  letter-spacing: .2vw;
}

.kerning_two {
  letter-spacing: .1vw;
}

.arrow_right {
  z-index: 2;
  width: 5vh;
  display: block;
  position: fixed;
  top: 48vh;
  bottom: auto;
  left: 2vw;
  right: auto;
}

.form-block {
  height: 14vh;
  position: relative;
}

.submit-button {
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(56, 152, 236, 0);
  background-image: url('../images/button.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40vh;
  height: 8vh;
  margin-top: 0;
  margin-right: 2vh;
  padding: 0;
  font-family: lores-9-wide, sans-serif;
  font-size: 3.8vh;
  line-height: 4vh;
}

.text-field {
  color: #393d53;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/email-capture.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vh;
  height: 8vh;
  margin-bottom: -2vh;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: lores-9-wide, sans-serif;
}

.success-message {
  background-color: rgba(221, 221, 221, 0);
  font-family: lores-9-wide, sans-serif;
}

.error-message {
  cursor: pointer;
  background-color: #ffb2b2;
  width: 40vh;
  font-family: lores-9-wide, sans-serif;
  position: absolute;
  bottom: 3.1vh;
  left: 0;
}

.text-block {
  font-size: 2vh;
  line-height: 2.7vh;
}

@media screen and (max-width: 991px) {
  .mid-clouds-image {
    width: 120vw;
    margin-top: 12vh;
  }

  .mid-clouds-image-2 {
    width: 120vw;
    margin-top: 12vh;
    margin-left: 120vw;
  }

  .bottom-clouds {
    width: 180vw;
  }

  .bottom-clouds-image {
    width: 200vw;
  }

  .bottom-clouds-image-2 {
    width: 200vw;
    margin-left: 200vw;
  }

  .top-right {
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .bottom-clouds {
    width: 200vw;
  }

  .image-5, .image-7, .image-6, .image-4 {
    max-width: 50%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 26px;
    line-height: 26px;
  }

  h2 {
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 26px;
  }

  h3 {
    font-size: 16px;
    line-height: 16px;
  }

  p {
    font-size: 12px;
    line-height: 14px;
  }

  .header {
    background-position: 50%;
    justify-content: center;
    align-items: center;
    height: 150vw;
    padding-left: 0;
  }

  .headerbox {
    width: 280px;
    height: 300px;
    margin-left: 0;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .button_open_app {
    width: 110px;
    height: 36px;
    padding: 7px 8px 8px;
    font-size: 14px;
    line-height: 14px;
  }

  .button_learn_more {
    width: 90px;
    height: 28px;
    padding: 8px;
    font-size: 12px;
    line-height: 12px;
  }

  .navy {
    margin-top: 4px;
    margin-bottom: 12px;
  }

  .textbox {
    width: 280px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .textbox.footer_menu {
    align-self: center;
    width: 280px;
    margin-left: 0;
    padding-top: 24px;
  }

  .textbox.footer_menu.socials, .textbox.footer {
    align-self: center;
    width: 280px;
  }

  .white {
    line-height: 26px;
  }

  .section_paragraph {
    width: 75vw;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 14px;
  }

  .section_paragraph.blue_white {
    width: 280px;
  }

  .section_paragraph.blue_white.right_align {
    text-align: left;
    width: 280px;
  }

  .section_paragraph.navy, .section_paragraph.red_white {
    width: 280px;
  }

  .section_paragraph.red_white.right_align {
    text-align: left;
    width: 280px;
  }

  .section_content_container {
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .section_content_container.footer {
    flex-flow: column;
    align-items: center;
    padding-top: 36px;
  }

  .section_content_container.third {
    height: 570px;
  }

  .section_content_container.badges {
    height: 500px;
  }

  .second_illustration {
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .first_illustration {
    width: 100vw;
    padding-left: 5vw;
  }

  .new_h3.navy, .new_h3.blue, .new_h3.green {
    font-size: 16px;
    line-height: 16px;
  }

  .third_illustration_ape {
    width: 100vw;
    padding-left: 10vw;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .third_divider {
    margin-bottom: -30px;
  }

  .fourth_illustration {
    width: 100vw;
    padding-top: 10vw;
    padding-left: 10vw;
  }

  .copyright {
    font-size: 10px;
    line-height: 10px;
  }

  .footer_link {
    font-size: 10px;
    line-height: 24px;
  }

  .button_twitter, .button_discord {
    width: 60px;
    height: 57px;
  }

  .footer_socials_container {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .fixed_socials_container {
    display: none;
  }

  .fixed_button_open_app {
    width: 110px;
    height: 36px;
    padding: 7px 8px 8px;
    font-size: 14px;
    line-height: 14px;
  }

  .paragraph {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18px;
  }

  .fifth_illustration_1 {
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .animated_bits {
    pointer-events: none;
    height: 150vw;
  }

  .bird_large {
    width: 55vw;
  }

  .bird_small, .island_large, .island_medium, .island_small {
    display: none;
  }

  .first_illustration_island_1, .first_illustration_island_2, .first_illustration_island_3 {
    width: 50vw;
    padding-left: 5vw;
    top: auto;
    bottom: 50px;
    left: auto;
    right: 22vw;
  }

  .third_illustration_punk, .third_illustration_mooncat {
    width: 100vw;
    padding-left: 10vw;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .fifth_illustration_2, .fifth_illustration_3, .fifth_illustration_4, .fifth_illustration_5, .fifth_illustration_6, .fifth_illustration_7, .fifth_illustration_8, .fifth_illustration_9, .fifth_illustration_10, .fifth_illustration_11, .fifth_illustration_12, .fifth_illustration_13 {
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
  }

  .mid-clouds-image, .mid-clouds-image-2 {
    width: 180vw;
  }

  .bottom-clouds, .bottom-clouds-image {
    width: 400vw;
  }

  .discord-link {
    margin-right: -35vh;
  }

  .twitter-link {
    margin-left: -35vh;
  }

  .back-link {
    margin-top: 95.2vh;
    margin-right: 0;
  }

  .back-top-button {
    width: 20vh;
  }

  .banyan-and-bracket {
    margin-left: 12px;
  }

  .intro-text, .intro-button, .intro-button-text {
    margin-right: 0;
  }

  .landing_page {
    display: block;
  }

  .arrow_right {
    width: 3vh;
  }

  .submit-button {
    margin-right: 0;
  }
}


